<header>
 <% if user_signed_in? %>
  <%= button_to "ログアウト", destroy_user_session_path, method: :delete %>
 <% end %>
</header>
    <div class="row">
      <div class="col-md-12">
        <div class="calendar">
          <div class="calendar-header">
            <span class="year"> <%= @year %> </span>年 <span class="month"> <%= @month %> </span>月
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>日</th>
                <th>月</th>
                <th>火</th>
                <th>水</th>
                <th>木</th>
                <th>金</th>
                <th>土</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <% (0...@first_day_wday).each do %>
                    <td></td>
                <% end %>
                <% (1..@last_day.day).each do |day| %>
                    <% date = @first_day + day - 1 %>
                    <td class="<%= 'today' if date == Date.today %>">
                    <%= link_to date.day, shifts_path(year: @year, month: @month, day: date.day) %>
                    </td>
                    <% if (day + @first_day_wday) % 7 == 0 %>
                    </tr><tr>
                    <% end %>
                <% end %>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
