<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
    <%= form_with url: admin_shifts_path, local: true, method: :get do |form| %>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">社員番号</span>
        </div>
        <%= form.text_field :number, placeholder: "", class: "form-control" %>
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">検索</button>
        </div>
      </div>
    <% end %>
    </div>
  </div>

  <% if @user.present? %>
    <h2><%= @user.name %> さんのシフト一覧</h2>
    <table class="table">
      <tbody>
        <% @shifts.each do |shift| %>
          <tr>
            <td><%= shift.start_time.strftime("%Y年%m月%d日") %></td>
            <td><%= shift.start_time.strftime("%H:%M") %></td>
            <td><%= shift.end_time.strftime("%H:%M") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @shifts %>
  <% end %>
</div>